  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="/js/jquery-1.10.2.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/plugins/jquery.form/jquery.form.js"></script>
  <script src="/js/slide.js"></script>
  <!-- 最新的 angular 核心 JavaScript 文件 -->
  <script src="/lib/angular/angular.js"></script>
  <!-- 最新的 angular 路由 JavaScript 文件 -->
  <script src="/lib/angular-route/angular-route.js"></script>
  <!-- 最新的 angular resource JavaScript 文件 -->
  <script src="/lib/angular-resource/angular-resource.js"></script>
  <!-- angular controller -->
  <script src="/controllers/controller.js"></script>
  <!-- angular service -->
  <script src="/services/service.js"></script>
  <!-- angular routes config -->
  <script src="/config/routes.js"></script>
  <!-- angular配置的核心 JavaScript 文件 主要用于初始化angular应用 -->
  <script src="/application.js"></script>

  </body>
</html>
